---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import RepoCard from "../../components/RepoCard.astro";

interface SkillRepo {
  owner: string;
  name: string;
  desc: string;
}

interface SkillData {
  title: string;
  desc: string;
  url: string;
  repos?: SkillRepo[];
}

type SkillsData = {
  [id: string]: SkillData;
};

const { skill } = Astro.params;

const skills: SkillsData = {
  astro: {
    title: "The Astro framework",
    desc: "Astro is my favorite framework. I use it to create medium to small-sized websites. With its integrations and numerous features, it makes it the perfect framework for me. I've also contributed to the translation of the Astro documentation into Italian.",
    url: "https://skillicons.dev/icons?i=astro",
    repos: [
      {
        owner: "vclemenzi",
        name: "noscript-youtube",
        desc: "No Script Youtube: Watch your favorite videos anonymously and without having to enable javascript in your browser",
      },
    ],
  },

  bash: {
    title: "The Bash",
    desc: "I use Bash every day to run commands, and I've created many useful scripts, such as setting up my Rice or Node Version Manager.",
    repos: [
      {
        owner: "vclemenzi",
        name: "rice",
        desc: "",
      },
      {
        owner: "vclemenzi",
        name: "nove",
        desc: "switch & replace node binaries",
      },
    ],
    url: "https://skillicons.dev/icons?i=bash",
  },

  docker: {
    title: "The Docker Tool",
    desc: "I started using Docker as an alternative to PM2 to save time on installing dependencies and reproducing the environment. I first used it to host SearXng and my personal instance.",
    repos: [
      {
        owner: "vclemenzi",
        name: "searxng",
        desc: "SearXNG but with some modifications",
      },
    ],
    url: "https://skillicons.dev/icons?i=docker",
  },
  github: {
    title: "Github",
    desc: "I use GitHub as my Git host for my repositories. I really like it for its features like workflows, actions, codespaces, etc. I don't particularly like that it's not closed-source, and in fact, I also appreciate competitors like GitLab and SourceHut.",
    url: "https://skillicons.dev/icons?i=github",
  },
  go: {
    title: "The Go Programming Language",
    desc: "My first encounter with Go dates back to 2022 when I initially used it as a language for creating command-line interfaces (CLIs). However, in a short amount of time, I realized its incredibly powerful capabilities. I began to acquaint myself with it through the free course by Traversy Media (you can find it here), which provided me with a general understanding. Right after the initial tests, I started to love the language for its performance and versatility. Today, I can use it smoothly to create high-performance web servers.",
    repos: [
      {
        owner: "vclemenzi",
        name: "bs64",
        desc: "Encode/Decode base64",
      },
      {
        owner: "vclemenzi",
        name: "safeshort",
        desc: " A url shorter that does not allow dangerous link shortening",
      },
    ],
    url: "https://skillicons.dev/icons?i=go",
  },
  js: {
    title: "The Javascript Programming Language",
    desc: "JavaScript was my first programming language. Initially, I used it to create Discord bots, but today, I use it to develop various types of web applications through its variety of frameworks. I also have experience in backend development using various libraries.",
    repos: [
      {
        owner: "vclemenzi",
        name: "translatefox",
        desc: "Translate your webpage on Firefox",
      },
    ],
    url: "https://skillicons.dev/icons?i=js",
  },
  jwt: {
    title: "Json Web Token Auth",
    desc: "I use and have learned JWT (JSON Web Tokens) for a performant and user-friendly authentication method. It's my favorite, especially because there are various bindings available for many languages.",
    url: "/tools/jwt.png",
  },
  linux: {
    title: "The Linux Kernel",
    desc: "I use Linux as my daily operating system. I've tried various distributions, from the simplest, like Ubuntu, to Arch, passing through Manjaro, Nobara, Fedora, Crystal, and more. I really like Linux for its customizability and the ability to have full control over my system. I use the i3 window manager.",
    url: "https://skillicons.dev/icons?i=linux",
  },
  mongodb: {
    title: "The Mongodb Database",
    desc: "MongoDB was my first database, mainly because of its NoSQL approach. Today, I don't use it much, although I still consider it an excellent alternative to many of today's databases.",
    url: "https://skillicons.dev/icons?i=mongodb",
  },
  neovim: {
    title: "The Neovim Editor",
    desc: "Neovim is my everyday text editor, and I prefer it over VSCode (which I used before) for all its features and extension suite. I have my personal configuration that I maintain daily, available on GitHub.",
    repos: [
      {
        owner: "vclemenzi",
        name: "nvim",
        desc: "",
      },
      {
        owner: "vclemenzi",
        name: "rice",
        desc: "",
      },
    ],
    url: "https://skillicons.dev/icons?i=neovim",
  },
  nextjs: {
    title: "The Next.js Framework",
    desc: "Next.js has been one of my favorite frameworks. In fact, I initially discovered it because I wanted a more structured routing system with React, not like react-router. But then, I found out that there were many features that could help me create large web pages with many functionalities.",
    repos: [
      {
        owner: "vclemenzi",
        name: "codeshare",
        desc: "Share your code, fast and easy",
      },
      {
        owner: "vclemenzi",
        name: "pizzagpt",
        desc: "Pizza GPT: A chatgpt client for the Italian users because the main was banned :(",
      },
    ],
    url: "https://skillicons.dev/icons?i=nextjs",
  },
  nodejs: {
    title: "The Node.js Runtime",
    desc: "I use and have used Node.js for a long time, one of the best JavaScript runtimes. I like it a lot, especially for its rich ecosystem of available packages. However, today, I am focusing on learning the Bun runtime, which is compatible with Node.js, to achieve significantly better performance.",
    url: "https://skillicons.dev/icons?i=nodejs",
  },
  postgresql: {
    title: "The PostgreSQL Database",
    desc: "PostgreSQL is a database I frequently use for scalability and security. I often use it with Supabase or Neon, and it's always my choice for creating applications that require extensive data storage and scalability.",
    url: "https://skillicons.dev/icons?i=postgresql",
  },
  react: {
    title: "The React Framework",
    desc: "React was my first framework that greatly facilitated the creation of web apps and interactive pages with its multitude of hooks. Today, I primarily use React for large and complex websites, while for smaller sites, I use frameworks like Astro.",
    repos: [
      {
        owner: "vclemenzi",
        name: "codeshare",
        desc: "Share your code, fast and easy",
      },
      {
        owner: "vclemenzi",
        name: "pizzagpt",
        desc: "Pizza GPT: A chatgpt client for the Italian users because the main was banned :(",
      },
    ],
    url: "https://skillicons.dev/icons?i=react",
  },
  redis: {
    title: "The Redis Database",
    desc: "Redis is a database I learned as an alternative to MongoDB for its speed and integration with many programming languages. Currently, it's my choice when I need speed and storage for not too much data. I also know how to use the serverless version of Redis created by Vercel: KV.",
    repos: [
      {
        owner: "vclemenzi",
        name: "codeshare",
        desc: "Share your code, fast and easy",
      },
    ],
    url: "https://skillicons.dev/icons?i=redis",
  },
  rust: {
    title: "The Rust Programming Language",
    desc: "My first encounter with Rust dates back to 2022 when I initially used it as a language for creating low-level applications. It's my preferred language, especially for its capabilities. I began to acquaint myself with it through the free course by Traversy Media, which provided me with a general understanding. Currently, it's one of my top choices for creating applications.",
    repos: [
      {
        owner: "vclemenzi",
        name: "ach",
        desc: "Arch User Repository Command Line Tool Helper",
      },
    ],
    url: "https://skillicons.dev/icons?i=rust",
  },
  tailwindcss: {
    title: "The Tailwind CSS framework",
    desc: "Tailwind CSS is my first choice for styling my web apps. With its intuitive classes, I can create visually appealing styles in a straightforward manner. It's always my go-to for creating styles, especially because it manages to generate relatively small bundles.",
    repos: [
      {
        owner: "vclemenzi",
        name: "noscript-youtube",
        desc: "No Script Youtube: Watch your favorite videos anonymously and without having to enable javascript in your browser",
      },
      {
        owner: "vclemenzi",
        name: "codeshare",
        desc: "Share your code, fast and easy",
      },
    ],
    url: "https://skillicons.dev/icons?i=tailwindcss",
  },
  tauri: {
    title: "The Tauri Framework",
    desc: "I came across Tauri through the Fireship video. I found the framework very useful right away, especially because it uses Rust and provides speed, security, and lightweight bundles. Today, it's my choice for web-based desktop applications.",
    url: "https://skillicons.dev/icons?i=tauri",
  },
  ts: {
    title: "The TypeScript Superset",
    desc: "TypeScript was the first language I learned after JavaScript. Right from the start, I found great utility in TypeScript because it saved me time by allowing me to avoid spending time fixing type-related errors. Today, it's the language I use the most for creating web applications instead of JavaScript.",
    url: "https://skillicons.dev/icons?i=ts",
  },
  vite: {
    title: "The Vite Bundler",
    desc: "Vite is my preferred bundler. Its hot reloading and integrations with a myriad of frameworks make it excellent for single-page applications. I also find its set of extensions very useful as they allow you to extend it in various ways.",
    url: "https://skillicons.dev/icons?i=vite",
  },
};

if (!skills[skill]) return Astro.redirect("/404");
---

<Layout title={`${skill} | Skill`}>
  <Navbar />
  <div class="mt-16 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold text-text md:text-left">{skills[skill].title}</h1>
      <p class="mb-4 mt-4">
        {skills[skill].desc}
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8">
        {
          skills[skill].repos ? skills[skill].repos.map((i: SkillRepo) => {
            return <RepoCard owner={i.owner} name={i.name} desc={i.desc} />;
          }) : <></>
        }
      </div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src={skills[skill].url} class="h-40 w-40 rounded-xl" />
    </div>
  </div>
</Layout>
